.contentheader
  .title #{title}
block content
  .content
    .heading2.black For more detailed information or discussion, please feel free to contact me: <br/>
    .basictext
      #contact 
        a(href="mailto:jacovancr@gmail.com") jacovancr@gmail.com<br/>
        a(href="http://www.linkedin.com/in/jacovan") linkedin.com/in/jacovan<br/>
        a(href="http://www.github.com/bolwo") github.com/bolwo
    p
    .heading2.black For a PDF version of my CV:
      .basictext
        #contact
          a(href='./downloads/CV.pdf' download="Jaco van Cranenburgh CV") Download CV
