extends layout

block content
  .heading2.orange Want to get in touch? Contact me. <br/>
  #contact Email: mail@jaco.site

  #disclaimer (Other methods of contact are excluded to stop spam phone calls)

  script.
    window.onload = function(){
      var button = document.getElementById("Contact");
      button.id = "clicked";
    };