extends layout

block content
  
  .heading1.fontcambria.orange Jaco van Cranenburgh
  .heading2.fontcambria.orange 211 Ham Street, Richmond, Surrey <br/> mail@jaco.site <br/> 07719975115
  p
    .basictext Hardworking software developer with a degree in Computer Science. Keen to learn, adapt and improve my technical skills through a career. I have been very interested in computing since I was young, and over the last 7 years have become passionate about programming and moving forward into a software development career. 
  p
    .basictext DOB: 9th August 1996 <br/>Gender: Male
  
  .bold1 Technical Skills
  .columns.basictext
    ul
      li HTML/CSS
      li JavaScript
      li C#
      li Python
      li SQL
      li Java
      li Node.js
      li ASP.net
      li IT Support
      li AWS Lambda/Beanstalk
  p
  .bold1 Education
  .leftcolumn.basictext.orange.bold1 2014 - 2018 <br/> University of Portsmouth <br/> BSc Hons Computer Science
  .rightcolumn.basictext Completed a 4-year degree (with 1-year placement) in Computer Science that covers many topics within the computing arena. It has given me technical skills such as programming in Java, Python, JavaScript and C# through units such as Advanced Programming Concepts and Software Engineering. Alongside this, it has given me a good theoretical understanding of many areas of Computer Science such as Data Structures, Networking, and Web Research. Completing the degree has given me opportunities to develop skills in:
    ul
      li Group work, being able to take charge when needed.
      li Conducting research papers on interesting topics.
      li Expressing myself verbally and speaking in front of an audience.
      li Working independently on projects and managing my time effectively. 

  .leftcolumn.basictext.orange.bold1 2012 - 2014 <br/> Richmond College
  .rightcolumn.basictext 3 A Levels:
    ul
      li Computing (C)
      li Use of Maths (B)
      li Graphics Communication (E)

  .leftcolumn.basictext.orange.bold1 2006 - 2012 <br/> Greycourt School
  .rightcolumn.basictext 10 GCSE's including:
    ul
      li Maths (A)
      li Science (A)
      li English (C)

  .bold1 Relevant Experience
  .bold1.orange.basictext IT Support - University of Portsmouth, Sept 2017 - June 2018
  .basictext Worked part-time for the University of Portsmouth as an IT Helper. This involved sitting at the IT Desk in various University buildings such as the University Library and helping students with any IT problems they have, using my technical knowledge combined with my problem-solving skills to resolve student-IT issues. In cases where the problem cannot be solved, it was my duty to refer them to the appropriate department. Customer service was a large part of my role, ensuring that the students were able to get the help they needed, particularly around deadlines when a small IT problem could mean missing an important deadline. 
  p
  .bold1.orange.basictext Intern Software Developer - Veritas Technologies, June 2016 - July 2017
  .basictext Completed a 13-month placement year as part of my degree at Veritas Technologies. I worked as a web developer as part of an agile team, where my role was to build and maintain an internal ‘dashboard’ website that tracked internal team statistics from data sources such as TFS and ETrack. This role included building windows services for data collection, maintaining an ASP.net website, designing and deploying databases, and communicating with managers to determine requirements. My job involved a lot of independent work implementing new features and fixing bugs, improving my ability to manage my own workload. Frequent team meetings and scrum stand-ups also allowed me to improve my communications skills and teamwork, especially when working alongside other developers for larger features.
  p

  .bold1 Other Experience
  .bold1.orange.basictext Bartender - The Sun Inn, May - August 2015
  .basictext Worked at the Sun Inn, Richmond as a Bartender. This job involved working behind the bar, serving food, cleaning tables and washing up in the kitchen. Working alongside a team of people helped me become more confident and taught me how to work under stressful conditions when the bar was full. Working successfully as a team was vital in providing a fast and productive service for customers.
  p
  .bold1.orange.basictext Support Worker/Carer, June - August 2014
  .basictext For family with teenager with special needs. On a regular basis I accompanied their son on half day excursions to go swimming, dining and shopping. My commitment was to help and motivate him to get the most out of his day in terms of enjoyment, self-empowerment and creativity whilst ensuring his safety.
  p
  .bold1 Personal
  link(href='/stylesheets/cv.css', rel='stylesheet')
