extends layout

block content
  .bold1 Education
  .leftcolumn.basictext.orange.bold1 2014 - 2018 <br/> University of Portsmouth <br/> BSc Hons Computer Science
  .rightcolumn.basictext Completed a 4-year degree (with 1-year placement) in Computer Science that covers many topics within the computing arena. It has given me technical skills such as programming in Java, Python, JavaScript and C# through units such as Advanced Programming Concepts and Software Engineering. Alongside this, it has given me a good theoretical understanding of many areas of Computer Science such as Data Structures, Networking, and Web Research. Completing the degree has given me opportunities to develop skills in:
    ul
      li Group work, being able to take charge when needed.
      li Conducting research papers on interesting topics.
      li Expressing myself verbally and speaking in front of an audience.
      li Working independently on projects and managing my time effectively. 

  .leftcolumn.basictext.orange.bold1 2012 - 2014 <br/> Richmond College
  .rightcolumn.basictext 3 A Levels:
    ul
      li Computing (C)
      li Use of Maths (B)
      li Graphics Communication (E)

  .leftcolumn.basictext.orange.bold1 2006 - 2012 <br/> Greycourt School
  .rightcolumn.basictext 10 GCSE's including:
    ul
      li Maths (A)
      li Science (A)
      li English (C)