extends layout

block content
  .leftcolumn.basictext.bold1 2014 - 2018 <br/> University of Portsmouth <br/> BSc Hons Computer Science
  .rightcolumn.basictext I completed a 4-year BSc degree (including 1-year placement) in Computer Science that covers many topics within the computing arena. It has given me technical skills such as programming in Java, Python, JavaScript and C# through units such as Advanced Programming Concepts and Software Engineering. Alongside this, it has given me a good theoretical understanding of many areas of Computer Science such as Data Structures, Networking, and Web Research. Completing the degree has developed and enhanced my skills in:
    ul
      li Group work, being able to take charge when needed.
      li Conducting research, investigating papers and other resources on relevant topics.
      li Clearly expressing myself verbally and speaking in front of an audience.
      li Working independently on projects and managing my time effectively. 

  .leftcolumn.basictext.bold1 2012 - 2014 <br/> Richmond College
  .rightcolumn.basictext 3 A Levels:
    ul
      li Computing (C)
      li Use of Maths (B)
      li Graphics Communication (E)

  .leftcolumn.basictext.bold1 2006 - 2012 <br/> Greycourt School
  .rightcolumn.basictext 10 GCSE's including:
    ul
      li Maths (A)
      li Science (A)
      li English (C)

  script.
    window.onload = function(){
      var button = document.getElementById("Education");
      button.id = "clicked";
    };