extends layout

block content
  .bold1 Relevant Experience
  .bold1.black.basictext IT Support - University of Portsmouth, Sept 2017 - June 2018
  .basictext Worked part-time for the University of Portsmouth as a member of the IT Support staff. This involved providing IT Support in various University buildings such as the University Library and helping students with their IT problems, using my technical knowledge and problem-solving skills to resolve student-IT issues. In cases where the problem could not be solved, it was my duty to refer them to the appropriate department. Customer service was a large part of my role, ensuring that the students were able to get the help they needed, particularly around the end of term when a small IT problem could mean missing an important deadline. 
  p
  .bold1.black.basictext Intern Software Developer - Veritas Technologies, June 2016 - July 2017
  .basictext Completed a 13-month placement year as part of my degree at Veritas Technologies. I worked as a web developer as part of an Agile team, where my role was to build and maintain an internal ‘dashboard’ website that tracked internal team statistics from data sources such as TFS and ETrack. This role included building windows services for data collection, maintaining an ASP.net website, designing and deploying databases, and communicating with managers to determine requirements. My job involved a lot of independent work implementing new features and fixing bugs, which improved my ability to manage my own workload. Frequent team meetings and scrum stand-ups also allowed me to improve my communications skills and teamwork, especially when working alongside other developers for larger features.
  p

  .bold1 Other Experience
  .bold1.black.basictext Bartender - The Sun Inn, May - August 2015
  .basictext Worked at the Sun Inn, Richmond as a Bartender. This job involved working behind the bar, serving food, cleaning tables and washing up in the kitchen. Working alongside a team of people helped me become more confident and taught me how to work under pressure when the bar was full. Working successfully as a team was vital in providing a fast and productive service for customers.
  p
  .bold1.black.basictext Support Worker/Carer, June - August 2014
  .basictext For family with teenager with special needs. On a regular basis I accompanied their son on half day excursions to go swimming, dining and shopping. My commitment was to help and motivate him to get the most out of his day in terms of enjoyment, self-empowerment and creativity whilst ensuring his safety.

  script.
    window.onload = function(){
      var button = document.getElementById("Experience");
      button.id = "clicked";
    };