extends layout
block content 
    script.
        //on website load, set default menu option as clicked, and load home page in partial.
        window.onload = function() {
            $('#Home').attr('class', 'itemclicked');
            $(".content").html("Loading...");
            $.ajax({
            url: '/home',
            dataType: "html",
            success: function(data) {
                $("#dynamic").html(data);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert('error ' + textStatus + " " + errorThrown);
            }
        });
        }
    
    