doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  #layout
    #outer
      #static
        .sidemenu
          .item#start 
            a(href='/About')
              .linktitle About
          .item
            a(href='/Education')
              .linktitle Education
          .item 
            a(href='/Experience')
              .linktitle Experience
          .item
            a(href='/Projects')
              .linktitle Projects
          .item
            a(href='/Papers')
              .linktitle Papers
          .item#end
            a(href='/Contact')
              .linktitle Contact

      #dynamic
        .contentheader
          .title #{title}
        .content     
            body
              block content

script(src="https://code.jquery.com/jquery-3.3.1.min.js")
script.
  




