doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  #layout
    #outer
      #static
        .sidemenu
          .item#start
            .linktitle CV
          .item
            .linktitle Papers
          .item
            .linktitle Projects
          .item
            .linktitle About
          .item#end
            .linktitle Contact

      #dynamic
        .contentheader
          .title #{title}
        .content     
            body
              block content







