doctype html
html
  head
    title= 'Jaco van Cranenburgh'
    link(rel='stylesheet', href='/stylesheets/style.css')

  #layout
    #outer
      #static
        .sidemenu
          a(href='/home')#nolink
            .item.start#Home Intro
            
          a(href='/Education')  
            .item#Education Education
           
          a(href='/Experience')
            .item#Experience Experience

          a(href='/Projects') 
            .item#Projects Projects
            
          a(href='/Contact')  
           .item.end#Contact Contact
         

      #dynamic
        .contentheader
          .title #{title}
        .content     
            body
              block content

script(src="https://code.jquery.com/jquery-3.3.1.min.js")





