doctype html
html
  head
    title= 'Jaco van Cranenburgh'
    link(rel='stylesheet', href='/stylesheets/style.css')
  #layout
    #outer
      #static
        .sidemenu
          li.item#Home Intro
            
          li.item#Education Education
           
          li.item#Experience Experience

          li.item#Projects Projects
            
          li.item.end#Contact Contact
      #dynamic
        .contentheader
          .title #{title}
        .content     
            body
              block content

script(src="https://code.jquery.com/jquery-3.3.1.min.js")
script.
  $(".item").click(function() {
    $('.itemclicked').each(function(i,obj) {
      $(this).attr('class', 'item'); //change to .item class
    });
    $("#" + event.target.id).attr('class', 'itemclicked'); //change to .itemclicked
    ajaxcall(event.target.id);
  });

  $(".item").hover(function(){
    $(this).css("opacity", "2");
    }, function(){
    $(this).css("opacity", "1");
  });

  
  function ajaxcall(section) {
    $.ajax({
        url: '/' + section,
        dataType: "html",
        success: function(data) {
            $("#dynamic").html(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert('error ' + textStatus + " " + errorThrown);
        }
    });
  }

//TODO add loading to the partial views (feels horrible if on slow connection, no obvious loading)
