/*Layout Styling*/

body, html {
    margin: 0;
}

#layout {
    width: 100%;
    font-family: "calibri";
}

#outer {
    max-width: 90%;
    width: 1000px;
    min-width: 500px;
    height: auto;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#static {
    float: left;
    height: 100%;
    width: 150px;
    min-height: 150px;
    margin-right: 10px;
}

#dynamic {
    overflow: hidden;
    /* box-shadow: 3px 3px 3px grey; */
    border-radius: 3px;
}

/* Content related css*/
.content {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    background-color: #EFEFEF;
    /* box-shadow: 3px 3px 3px grey; */
    padding: 1.5%;
    border: 1px solid #e2e2e2;
    border-top: none;
    border-bottom: none;
}

.contentheader {
    width: 100%;
    height: 50px;
    background-color: #3BC9FF;
    /* #3bc9ff */
}

/* Side menu related css*/

.sidemenu {
    position: fixed;
    background-color: #b7ebff;
    border-width: 1px;
    width: 150px;
    height: auto;
    float: left;
    /* box-shadow: 3px 3px 3px grey; */
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    border-top: none;
    border-bottom: none;
}
.sidemenu li {
    list-style-type: none;
}
.sidemenu li.item:last-child {
    border-right: none;
    border-bottom: none;
}
.sidemenu li.itemclicked:last-child {
    border-right: none;
    border-bottom: none;
}
.item {
    border-width: 5px;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    height: 35px;
    border-bottom: solid;
    border-color: grey;
    border-width: 1px;
    text-align: center;
    padding-top: 10%;
    cursor: pointer;
}

.itemclicked {
    border-width: 5px;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    height: 35px;
    border-bottom: solid;
    border-color: grey;
    border-width: 1px;
    text-align: center;
    padding-top: 10%;
    background-color: #3BC9FF;
    color: white;
    border-color: grey;
    cursor: pointer;
}

.item.end {
    border-bottom: none;
}

.item:hover {
    background-color: #3BC9FF;
}

/* Topbar related css */

.topbar {
    width: 100%;
    height: 50px;
    background-color: #FF3B3F;
    box-shadow: 3px 3px 3px grey;
}

.title {
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    font-family: Verdana;
    font-size: 25px;
    color: #FFFFFF;
}

/*parital view styling*/

.heading1 {
    font-size: 24px;
    font-weight: 900;
    text-align: left;
}

.heading2 {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.bold1 {
    font-weight: 900;
    font-size: 15px;
}

.bold2 {
    font-weight: 500;
}

.basictext {
    font-size: 15px;
}

.color1 {
    color: black;
}

.columns {
    columns: 2;
}

.columns li {
    display: inline;
}

.photocolumn {
    overflow: hidden;
    float: left;
    text-align: right;
    padding-right: 10px;
}

.leftcolumn {
    overflow: hidden;
    float: left;
    width: 25%;
    text-align: right;
    padding-right: 5px;
}

.rightcolumn {
    overflow: hidden;
}

.githubcard {
    overflow: hidden;
    float: left;
    width: 50%;
    height: 160px;
    text-align: left;
    padding-right: 5px;
}

.row {
    overflow: hidden;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.row.noborder {
    border: none;
}

githubcard a {
    font-size: 15px;
}

#contact {
    font-size: 15px;
    text-align: left;
}

#portraitphone {
    width: 0;
    height: 0;
    overflow: hidden;
}

/** Mobile Phone CSS **/
@media screen and (max-width: 1130px) {
    .githubcard {display: none;}
}
@media all and (orientation:portrait) {
    /**#layout * {
         width: 0;
         height: 0;
         overflow: hidden;
         margin: 0;
     } **/
    /** change all of the static side menu**/
    #static {
        float: none;
        height: 50px;
        min-width: 500px;
        min-height: 50px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .sidemenu {
        position: fixed;
        background-color: #b7ebff;
        width: 90%;
        min-width: 500px;
        height: 50px;
        float: none;
        border-radius: 3px;
        white-space: nowrap;
    }
    .item {
        display: inline-block;
        color: black;
        text-decoration: none;
        width: 19.9%;
        margin-right: 0;
        border-width: 5px;
        padding-left: 0;
        padding-right: 0;
        height: 35px;
        border-bottom: none;
        border-right: solid;
        border-color: grey;
        border-width: 1px;
        text-align: center;
        padding-top: 15px;
        cursor: pointer;
    }
    .itemclicked {
        display: inline-block;
        color: black;
        text-decoration: none;
        width: 19.9%;
        margin-right: 0;
        border-width: 5px;
        padding-left: 0;
        padding-right: 0;
        height: 35px;
        border-bottom: none;
        border-right: solid;
        border-color: grey;
        border-width: 1px;
        text-align: center;
        padding-top: 15px;
        background-color: #3BC9FF;
        color: white;
        border-color: grey;
        cursor: pointer;
    }
    .item.end {
        border-right: none;
    }
    .item:hover {
        background-color: #3BC9FF;

    }
    #dynamic {
        overflow: hidden;
        border-radius: 3px;
    }
}